.sidebar{
   
    height: 100%; 
    width: 210px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #252525;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 10px;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    width: 100%;
    
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}