

.player {
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
    height: 120px;
}
.player-name-artist{
    color: #ffffff;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
}

.player .left {
    width: 80px;
    background-image: url(https://i.scdn.co/image/9ca53beeb365f468b023a8360634f309325b5487);
    background-size: cover;
}

.player .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.player .right .top {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.player .right .top .song {
    font-size: 1.2em;
    font-weight: 600;
}

.player .right .bottom {
    display: flex;
}

.player .right .bottom video {
    flex-grow: 1;
    height: 32px;
}

@-webkit-keyframes pop-in {

    0%,
    95% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes pop-in {

    0%,
    95% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}